::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 2px 0 3px rgba(255,255,255,0.1);
}
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.4);
}
::-webkit-scrollbar:hover ::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.6);
}
